@import 'fonts.css';

.root{
    -fx-font-family: SFPro, sans-serif;
    -fx-base: #FAFAFA;
    -fx-background: #b0bcd4;
    -fx-accent: #235dbf;
    -fx-focus-color: #235dbf;
    -fx-font-weight: normal;
}

.context-menu {
    -fx-background-color: #FAFAFA;
    -fx-padding: 0
}

.menu-bar {
    -fx-font-family: SFProBold, sans-serif;
    /*-fx-padding: 0;*/
    /*-fx-max-height: 35px;*/
    /*-fx-pref-height: 35px;*/
}

.menu {
    /*-fx-max-height: 35px;*/
    /*-fx-pref-height: 35px;*/
    /*-fx-font-size: 160px;*/
    /*-fx-padding: 4px;*/
}

.menu-item {
    /*-fx-padding: 0;*/
}

#view-switcher {
    -fx-background-color: red;
}

.button, .button:pressed {
    -fx-border-radius: 0!important;
    -fx-border-width: 0!important;
    -fx-background-radius: 0!important;
    -fx-padding: 5pt;
}


