@import 'fonts.css';

.root{
    -fx-font-family: SFPro, sans-serif;
    -fx-base: #FAFAFA;
    -fx-background: #b0bcd4;
    -fx-accent: #235dbf;
    -fx-focus-color: #235dbf;
    -fx-font-weight: normal;
}

.context-menu {
    -fx-background-color: #FAFAFA;
    -fx-padding: 0
}

.menu-bar {
    -fx-font-family: SFProBold, sans-serif;
    -fx-font-size: 10pt;
}

.menu-item {

}

#view-switcher {
    -fx-background-color: red;
}

.button {
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-padding: 20pt;
}

