@font-face {
    font-family: Barlow;
    font-weight: 400;
    src: url('fonts/barlow/Barlow-Regular.ttf');
}

@font-face {
    font-face-name: Arimo;
    font-weight: 400;
    src: url('fonts/arimo/Arimo-Regular.ttf');
}

@font-face {
    font-face-name: Arimo;
    font-weight: bold;
    src: url('fonts/arimo/Arimo-Bold.ttf');
}


@font-face {
    font-face-name: SFProLight;
    src: url('fonts/sf/SFProDisplay-Light.ttf');
}

@font-face {
    font-face-name: SFProRegular;
    src: url('fonts/sf/SFProDisplay-Regular.ttf');
}

@font-face {
    font-face-name: SFProBold;
    src: url('fonts/sf/SFProDisplay-Bold.ttf');
}


